<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip"/>
  <package id="7zip.install"/>
  <package id="autohotkey"/>
  <package id="autohotkey.install"/>
  <package id="autohotkey.portable"/>
  <package id="azure-cli"/>
  <package id="bottom"/>
  <package id="chocolatey"/>
  <package id="chocolatey-compatibility.extension"/>
  <package id="chocolatey-core.extension"/>
  <package id="chocolatey-dotnetfx.extension"/>
  <package id="chocolatey-font-helpers.extension"/>
  <package id="chocolatey-os-dependency.extension"/>
  <package id="chocolatey-visualstudio.extension"/>
  <package id="chocolatey-windowsupdate.extension"/>
  <package id="cloc"/>
  <package id="curl"/>
  <package id="devtoys"/>
  <package id="discord"/>
  <package id="docker"/>
  <package id="docker-cli"/>
  <package id="dotnet"/>
  <package id="DotNet4.6.1"/>
  <package id="dotnet-6.0-desktopruntime"/>
  <package id="dotnet-7.0-desktopruntime"/>
  <package id="dotnet-7.0-sdk-2xx"/>
  <package id="dotnet-8.0-desktopruntime"/>
  <package id="dotnet-8.0-sdk-1xx"/>
  <package id="dotnet-8.0-sdk-2xx"/>
  <package id="dotnet-9.0-runtime"/>
  <package id="dotnet-9.0-sdk"/>
  <package id="dotnet-9.0-sdk-1xx"/>
  <package id="dotnet-desktopruntime"/>
  <package id="dotnetfx"/>
  <package id="dotnet-runtime"/>
  <package id="dotnet-sdk"/>
  <package id="drawio"/>
  <package id="epicgameslauncher"/>
  <package id="falkon"/>
  <package id="fd"/>
  <package id="ffmpeg"/>
  <package id="fzf"/>
  <package id="gdu"/>
  <package id="gh"/>
  <package id="gimp"/>
  <package id="git"/>
  <package id="git.install"/>
  <package id="github-desktop"/>
  <package id="gitkraken"/>
  <package id="go"/>
  <package id="golang"/>
  <package id="groupy"/>
  <package id="guidgen-console"/>
  <package id="gzip"/>
  <package id="ilspy"/>
  <package id="irfanview"/>
  <package id="KB2919355"/>
  <package id="KB2919442"/>
  <package id="KB2999226"/>
  <package id="KB3033929"/>
  <package id="KB3035131"/>
  <package id="KB3063858"/>
  <package id="KB3118401"/>
  <package id="lazygit"/>
  <package id="less"/>
  <package id="llvm"/>
  <package id="messenger"/>
  <package id="microsoft-ui-xaml-2-7"/>
  <package id="microsoft-vclibs-140-00"/>
  <package id="mingw"/>
  <package id="mongodb"/>
  <package id="mongodb.install"/>
  <package id="msiafterburner"/>
  <package id="MSVisualCplusplus2013-redist"/>
  <package id="nerd-fonts-DelugiaMono-Powerline"/>
  <package id="nerd-fonts-Hack"/>
  <package id="nerd-fonts-JetBrainsMono"/>
  <package id="nerd-fonts-OpenDyslexic"/>
  <package id="nerd-fonts-ProggyClean"/>
  <package id="nerd-fonts-SpaceMono"/>
  <package id="nerd-fonts-VictorMono"/>
  <package id="netfx-4.7.1"/>
  <package id="netfx-4.7.1-devpack"/>
  <package id="nodejs"/>
  <package id="nodejs.install"/>
  <package id="notepadplusplus"/>
  <package id="notepadplusplus.install"/>
  <package id="obsidian"/>
  <package id="oh-my-posh"/>
  <package id="openssl"/>
  <package id="paint.net"/>
  <package id="pandoc"/>
  <package id="powershell-core"/>
  <package id="powertoys"/>
  <package id="pwsh"/>
  <package id="python"/>
  <package id="python3"/>
  <package id="python312"/>
  <package id="rainmeter"/>
  <package id="ripgrep"/>
  <package id="rustup.install"/>
  <package id="screentogif"/>
  <package id="screentogif.portable"/>
  <package id="sed"/>
  <package id="sioyek"/>
  <package id="sqlcmd"/>
  <package id="SQLite"/>
  <package id="steam"/>
  <package id="sumatrapdf"/>
  <package id="sumatrapdf.install"/>
  <package id="terminal-icons.powershell"/>
  <package id="tree-sitter"/>
  <package id="unzip"/>
  <package id="vcredist140"/>
  <package id="vcredist2005"/>
  <package id="vcredist2008"/>
  <package id="vcredist2010"/>
  <package id="vcredist2012"/>
  <package id="vcredist2013"/>
  <package id="vcredist2015"/>
  <package id="vcredist2017"/>
  <package id="vcredist-all"/>
  <package id="visualstudio2022buildtools"/>
  <package id="visualstudio-installer"/>
  <package id="vlc"/>
  <package id="vlc.install"/>
  <package id="vscode"/>
  <package id="vscode.install"/>
  <package id="vsts-cli"/>
  <package id="Wget"/>
  <package id="winget"/>
  <package id="winget-cli"/>
  <package id="wingetui"/>
  <package id="wiztree"/>
  <package id="zig"/>
  <package id="zoomit"/>
  <package id="zoxide"/>
</packages>
