<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip"/>
  <package id="7zip.install"/>
  <package id="autohotkey"/>
  <package id="autohotkey.install"/>
  <package id="autohotkey.portable"/>
  <package id="bottom"/>
  <package id="chocolatey"/>
  <package id="chocolatey-compatibility.extension"/>
  <package id="chocolatey-core.extension"/>
  <package id="chocolatey-font-helpers.extension"/>
  <package id="chocolatey-os-dependency.extension"/>
  <package id="chocolatey-windowsupdate.extension"/>
  <package id="curl"/>
  <package id="docker"/>
  <package id="docker-cli"/>
  <package id="dotnet-7.0-sdk-2xx"/>
  <package id="dotnet-desktopruntime"/>
  <package id="drawio"/>
  <package id="fd"/>
  <package id="fzf"/>
  <package id="gdu"/>
  <package id="gh"/>
  <package id="gimp"/>
  <package id="git"/>
  <package id="git.install"/>
  <package id="github-desktop"/>
  <package id="guidgen-console"/>
  <package id="gzip"/>
  <package id="ilspy"/>
  <package id="KB2919355"/>
  <package id="KB2919442"/>
  <package id="KB2999226"/>
  <package id="KB3033929"/>
  <package id="KB3035131"/>
  <package id="KB3063858"/>
  <package id="KB3118401"/>
  <package id="lazygit"/>
  <package id="llvm"/>
  <package id="messenger"/>
  <package id="mingw"/>
  <package id="nerd-fonts-DelugiaMono-Powerline"/>
  <package id="nerd-fonts-Hack"/>
  <package id="nerd-fonts-JetBrainsMono"/>
  <package id="nerd-fonts-ProggyClean"/>
  <package id="nerd-fonts-SpaceMono"/>
  <package id="nerd-fonts-VictorMono"/>
  <package id="notepadplusplus"/>
  <package id="notepadplusplus.install"/>
  <package id="oh-my-posh"/>
  <package id="paint.net"/>
  <package id="powershell-core"/>
  <package id="powertoys"/>
  <package id="pwsh"/>
  <package id="rainmeter"/>
  <package id="ripgrep"/>
  <package id="rustup.install"/>
  <package id="sed"/>
  <package id="SQLite"/>
  <package id="steam"/>
  <package id="sumatrapdf"/>
  <package id="sumatrapdf.install"/>
  <package id="terminal-icons.powershell"/>
  <package id="tree-sitter"/>
  <package id="unzip"/>
  <package id="vcredist140"/>
  <package id="vlc"/>
  <package id="vlc.install"/>
  <package id="vscode"/>
  <package id="vscode.install"/>
  <package id="winget"/>
  <package id="Wget"/>
  <package id="wiztree"/>
  <package id="zig"/>
</packages>
